@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  font-family: "Poppins";
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}
:root {
  --blue: #3c6382;
  --dark-blue: #0a3d62;
}
::selection {
  background-color: #3c6382;
  color: #fff;
}
html::-webkit-scrollbar {
  width: 13px;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background-color: #3c6382;
}
html {
  font-size: 55%;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
.heading {
  text-align: center;
  color: var(--blue);
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: normal;
  padding: 1rem;
}
/* Small */
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Navbar */
nav {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
nav a {
  color: var(--dark-blue);
  font-size: 2.5rem;
}
nav .none {
  display: none;
  color: var(--blue);
  font-size: 26px;
  cursor: pointer;
}
nav span {
  color: var(--blue);
}
nav ul {
  display: flex;
}
nav ul li a {
  font-size: 2rem;
  border-radius: 0.5rem;
  padding: 0.4rem 1.2rem;
  margin: 0 1.3rem;
}
nav ul li a.active {
  background: var(--blue);
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}

nav ul li a:hover {
  background: var(--blue);
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}
@media (max-width: 950px) {
  nav ul {
    display: none;
  }
  nav .none {
    display: block;
  }
}
/* End Navbar */

/* Start Home */
.home {
  height: 100vh;
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home .content {
  text-align: center;
  padding-top: 9rem;
}
.home .content h1 {
  font-size: 5.5rem;
  color: var(--dark-blue);
  margin-bottom: 20px;
}
.home .content h3 {
  color: var(--blue);
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 10px;
}
.home .content button {
  background-color: var(--blue);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}
.home .content button:hover {
  background-color: var(--dark-blue);
}
@media (max-width: 991px) {
  .home .content h1 {
    font-size: 3.5rem;
  }
  .home .content h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 450px) {
  .home .content h1 {
    font-size: 2.5rem;
  }
  .home .content h3 {
    font-size: 2.5rem;
  }
}
/* End Home */

/* Start prevent */
.prevent {
  margin-top: 4rem;
}
.prevent .flex {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.prevent .flex .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}
.prevent .flex .box:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}
.prevent .flex .box img {
  height: 12rem;
  padding: 1rem;
}
.prevent .flex .box h3 {
  color: var(--blue);
  font-size: 2rem;
}
.prevent .flex .box p {
  color: var(--dark-blue);
  font-size: 1.4rem;
  padding: 1rem;
  line-height: 1.6;
}
@media (max-width: 500px) {
  .prevent h1 {
    font-size: 2.9rem;
  }
}
/* End prevent */

/* Start symptoms */
.symptoms {
  background: url(../images/background-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.symptoms h1 {
  padding-top: 100px;
}
.symptoms .column {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 3rem 0;
}
.symptoms .column .main-image img {
  width: 43vh;
}
.symptoms .column .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.symptoms .column .box-container .box {
  text-align: center;
  padding: 1rem;
}
.symptoms .column .box-container .box img {
  width: 22rem;
}
.symptoms .column .box-container .box h3 {
  font-size: 2rem;
  color: var(--blue);
}
@media (max-width: 1050px) {
  .symptoms .column .box-container .box img {
    width: 20rem;
  }
}
@media (max-width: 991px) {
  .symptoms .column .main-image img {
    display: none;
  }
  .symptoms .column .box-container .box img {
    width: 17rem;
  }
}
@media (max-width: 450px) {
  .symptoms .column .box-container .box img {
    width: 14rem;
  }
}
/* End symptoms */

/* Start precautions */
.precautions {
  padding-top: 8rem;
}
.precautions .column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.precautions .column h3 {
  padding: 2rem 0.5rem;
  text-align: center;
  font-size: 2.5rem;
  background: var(--blue);
  color: #fff;
}
.precautions .column .box-container {
  margin: 1.5rem;
  flex: 1 1 50rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  width: 100%;
}
.precautions .column .box-container:last-child h3 {
  background-color: #ff3300;
}
.precautions .column .box {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px 10px;
}
.precautions .column .box img {
  width: 15rem;
  padding: 1rem;
}
.precautions .column .box .info {
  margin-top: 32px;
}
.precautions .column .box .info h4 {
  font-size: 2.3rem;
  color: var(--blue);
}
.precautions .column .box .info p {
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--dark-blue);
  padding: 1rem 0;
}
@media (max-width: 700px) {
  .precautions .column .box {
    flex-wrap: wrap;
    text-align: center;
  }
}
/* End precautions  */

/* Start Doctor */
.doctor {
  margin-top: 20px;
  background: url(../images/background-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.doctor h1 {
  padding-top: 100px;
}
.doctor .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.doctor .flex .box {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  padding: 1rem;
  margin: 3rem 2rem;
  text-align: center;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  width: 33rem;
}
.doctor .flex .box img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin: 1rem;
  border-radius: 50%;
  background: var(--blue);
}
.doctor .flex .box h3 {
  font-size: 2rem;
  color: var(--blue);
}
.doctor .flex .box span {
  font-size: 1.5rem;
  color: var(--dark-blue);
  display: block;
  margin: 5px 0;
}
.doctor .flex .box .social-media {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}
.doctor .flex .box .social-media a:hover {
  background: var(--blue);
}
.doctor .flex .box .social-media a:hover i {
  color: #fff;
  transform: rotate(360deg);
}
.doctor .flex .box .social-media a {
  height: 4.5rem;
  width: 4.5rem;
  display: inline-block;
  line-height: 50px;
  border-radius: 50px;
  margin: 2rem 0.5rem;
  background: #eee;
}
.doctor .flex .box .social-media i {
  font-size: 2.5rem;
  color: var(--blue);
}
/* End Doctor */

/* Start hand-wash */
.hand-wash h1 {
  margin-top: 100px;
}
.hand-wash .column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hand-wash .column img {
  width: 25vw;
}
.hand-wash .column .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hand-wash .column .box-container .box {
  text-align: center;
  margin: 2rem;
}
.hand-wash .column .box-container .box img {
  width: 18rem;
  height: 18rem;
  padding: 1rem;
  font-size: 2rem;
}
.hand-wash .column .box-container .box h3 {
  font-size: 2rem;
  color: var(--blue);
}
@media (max-width: 950px) {
  .hand-wash .column .main-wash-img img {
    display: none;
  }
  .hand-wash .column .box-container .box img {
    width: 19rem;
    height: 19rem;
  }
}
@media (max-width: 510px) {
  .hand-wash h1 {
    font-size: 3rem;
  }
  .hand-wash .column .box-container .box {
    margin: 2rem 1rem;
  }
  .hand-wash .column .box-container .box img {
    width: 14rem;
    height: 14rem;
  }
  .hand-wash .column .box-container .box h3 {
    font-size: 1.7rem;
  }
}
/* End hand-wash */

/* Start Footer */
.footer {
  background: url(../images/background-img.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.footer .flex {
  display: flex;
  flex-wrap: wrap;
}
.footer .flex div {
  flex: 1 1 25rem;
  margin: 2rem;
}
.footer .flex div h2 {
  font-size: 2.8rem;
  color: var(--blue);
  padding: 1rem 0;
}
.footer .flex div p {
  font-size: 1.5rem;
  color: var(--dark-blue);
  padding: 0.5rem 0;
  line-height: 1.5;
}
.footer .flex div a {
  font-size: 1.8rem;
  color: var(--dark-blue);
  padding: 0.5rem 0;
  display: block;
}
.footer .flex div a:hover {
  color: var(--blue);
}
.footer .The-End {
  color: var(--dark-blue);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 2.2rem;
  font-weight: normal;
  padding: 2.5rem 1rem;
}
.footer .The-End a {
  color: var(--dark-blue);
}
.footer .The-End a:hover {
  color: darkorange;
}
@media (max-width: 550px) {
  .footer .The-End {
    font-size: 1.5rem;
  }
}
/* End Footer */

.scroll {
  position: fixed;
  bottom: 7.5rem;
  right: 1.5rem;
  z-index: 1000;
}
.scroll img {
  width: 9rem;
  animation: float 3s linear infinite;
}
